border-1px($color) // 通过css预处理器的函数方法，实现伪类线
  position: relative
  &:after
    display: block
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid $color
    content ''


bg-image($url) // mixin.styl 文件中伪函数：实现图片在不同DPR下引用不同的图片路径
  background-image url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image url($url + "@3x.png")

border-none()
  &:after
    display none
